<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
{% include "extends/header.jinja" %}
{% block content1 %}{% endblock %}
{% block content2 %}{% endblock %}
{% block content3 %}{% endblock %}
{% block content4 %} <p>이 컨텐츠는 content4 블럭입니다. 이 내용은 base.jinja 에서 기인합니다.</p> {% endblock %}
{% include 'extends/footer.jinja' %}

</body>
</html>
