{% extends "extends/base.jinja" %}

{% block title %}Page Title{% endblock %}

{% block content1 %}
    <p>이 컨텐츠는 content1 블럭입니다. 이 내용은 page.jinja 에서 기인합니다.</p>
{% endblock %}

{% block content2 %}
    <p>이 컨텐츠는 content2 블럭입니다. 이 내용은 page.jinja 에서 기인합니다.</p>
{% endblock %}

{% block content3 %}
    <p>이 컨텐츠는 content3 블럭입니다. 이 내용은 page.jinja 에서 기인합니다.</p>
{% endblock %}
