<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% set carFlag = namespace(hasCar=false) %}
{% for f in friends %}
    이름: {{ f.name }}
    {% if f.car == true %}
        {% set ns.hasCar = true %}
    {% endif %}
{% endfor %}

{% if ns.hasCar == true %}
    누군가 차를 가지고 있나? : TRUE
{% else %}
    누군가 차를 가지고 있나? : FALSE
{% endif %}

</body>
</html>
