<html>
<head>
    <title>Item Details</title>
    <link href="{{ url_for('static_func', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<h1>Item ID: {{ item_id }}</h1>
<div>{{ url_for('root') }}</div>
<div>{{ url_for('rootV2', path="12123123") }}</div>
</body>
</html>
